// Example:
.main-content main > .frame-type-ot_heroimage:first-child {
    margin-top: -30px;
}

.ot-heroimage {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;

    .text-overlay-container {
        position: absolute;
        top: 50%; // .top-50
        left: 50%; // .start-50
        transform: translate(-50%, -50%); // .translate-middle
        width: 100%;

        .ot-heroimage-text-overlay-desktop {
            display: none;
        }

        .ot-ceheader-subheader {
            font-size: 50%;
        }
    }

    // Box
    .text-overlay-container .container {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 2rem;
        border-radius: 1rem;
    }
}


@include media-breakpoint-up(md) {
    .ot-heroimage-text-overlay-mobile {
        display: none;
    }
    .ot-heroimage-text-overlay-desktop {
        display: block;
        position: relative;
    }

    .ot-heroimage-text-overlay-desktop::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0.1) 0%,
                rgba(0, 0, 0, 0.6) 100%
        );
        pointer-events: none;
    }
}

;

